.settings__setting {
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting:nth-child(3) {
  border-bottom: var(--main-border);
}

.settings__setting i {
  margin-right: 25px;
  opacity: 0.8;
  width: 20px;
}
.settings__setting-column:nth-child(2) {
  opacity: 0.7;
  font-size: 18px;
}
